@font-face {
    font-family: kalam;
    src: url("./fonts/Kalam-Bold.ttf");
    
   
}

@font-face {
    font-family: patrickHand;
    src: url("./fonts/PatrickHand-Regular.woff");
    font-weight: bold;
   
}

.about-title{
    padding-top: 10%;
  
    font-size: 40px;
    color: black;
    
}

input[name="React"] {
    background: red;
  }
/* this is not working for some reason */
  .about-background-container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
    overflow: auto;
    background: black;
}

.about-image{

    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
   
} 

.about-title{
    text-align: center;
    font-family: patrickHand;
    font-size: 50px;
    text-decoration: none;
    color: white;
    position: relative;
    z-index: 1;
    -webkit-text-stroke: 0.8px black;
}
.intro{
    color:white;
    font-family: kalam;
    font-size: 25px;
    -webkit-text-stroke: 0.8px black;
}

.future{
    color:white;
    font-family: kalam;
    font-size: 25px;
    -webkit-text-stroke: 0.8px black;
}