
/* body, html {
    height: 100%;
    margin: 0;
    background-image: url(../images/lego-background.jpg);
} */


@font-face {
    font-family: patrickHand;
    src: url("./fonts/PatrickHand-Regular.woff");
    font-weight: bold;
   
}

@font-face {
    font-family: rockSalt;
    src: url("./fonts/RockSalt-Regular.woff");
    font-weight: bold;
   
}
/* body, html{
    height: 100%;
    margin: 0;
    background-image: url("../images/lakebackground.jpeg") no-repeat center center fixed;
} */

.img-container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: black; /* Just to visualize the extent */
}
.home-container{
    display: inline-block;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.lake-img{
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}

.profile-container{
   padding-top: 15%;
   height: 100%;
   
}
 .card-whole{
    width: 100% !important;
    background-color: transparent;
    border: none;
   
}

.profile-pic{
    vertical-align: middle;
    margin-left: -30%;
  margin-right: auto;
  width: 115%;
    
}


.body-of-card{
    padding: 1rem 10rem 1rem 9rem;
}

.name-title{
    font-family: rockSalt;
    color:white;
    -webkit-text-stroke: 2px black;
}
 .school-title, .location-title{
    font-family: rockSalt;
    color:white;
    -webkit-text-stroke: 0.5px black;
}
.name-title{
    font-size: 50px;
}
.school-title{
    font-size: 20px;
}
.location-title{
    font-size: 20px;
}

.button-projects{
    background-color:rgb(168, 224, 226) !important;
}
.projects-button{
    font-family: patrickHand;
    font-size: 20px;
    margin: 10px;
    text-decoration: none;
    color:black;
 
}

.button-resume{
    background-color:rgb(168, 224, 226) !important;
    font-family: patrickHand;
    font-size: 20px;
    margin: 10px;
    text-decoration: none;
    color:black;
}

a:hover, .button-projects:hover, .button-resume:hover{
    color: red !important;
    border-bottom: none !important;
}

.modal-content{
    width:128%;
}