
/* body, html {
    height: 100%;
    margin: 0;
    background-image: url(../images/lego-background.jpg);
} */


@font-face {
    font-family: patrickHand;
    src: url("./fonts/PatrickHand-Regular.woff");
    font-weight: bold;
   
}

@font-face {
    font-family: rockSalt;
    src: url("./fonts/RockSalt-Regular.woff");
    font-weight: bold;
   
}
body, html{
    height: 100%;
    margin: 0;
    background-color: white;
}

.content{
    background-image: url("../images/lakebackground.jpeg");
}


.profile-container{
   padding-top: 15%;
   height: 100%;
   
}
 .card-whole{
    width: 100% !important;
    background-color: transparent;
    border: none;
   
}

.profile-pic{
    vertical-align: middle;
    margin-left: -30%;
  margin-right: auto;
  width: 115%;
    
}


.body-of-card{
    padding: 1rem 10rem 1rem 9rem;
}

.name-title{
    font-family: rockSalt;
}
 .school-title, .location-title{
    font-family: patrickHand;
}
.name-title{
    font-size: 50px;
}
.school-title{
    font-size: 20px;
}
.location-title{
    font-size: 20px;
}

.footer-home{
    background-color: purple;
}