
@font-face {
    font-family: legoTheme;
    src: url("./legothick-webfont.woff"),url("./legothick-webfont.woff2");
    font-weight: bold;

   
}
/* body, html {
    height: 100%;
    margin: 0;
    background-image: url(../images/lego-background.jpg);
} */

body, html{
    height: 100%;
    margin: 0;
    background-color: brown;
}

.profile-container{
   padding-top: 15%;
}
 .card-whole{
    width: 100% !important;
    background-color: transparent;
    border: none;
}

.profile-pic{
    vertical-align: middle;
    margin-left: -30%;
  margin-right: auto;
    
}

.card-img-top{
    width: 115%
}

.card-body{
    padding: 1rem 14rem;
}
.name-title, .school-title, .location-title{
    font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
}
.name-title{
    font-size: 50px;
}
.school-title{
    font-size: 20px;
}
.location-title{
    font-size: 20px;
}

