
@font-face {
    font-family: legoTheme;
    src: url("./legothick-webfont.woff"),url("./legothick-webfont.woff2");
    font-weight: bold;
   
}
.header-llc{
    font-family: legoTheme;
    font-size: 50px; 
  
}

.me-auto{
    position: absolute;
    right: 10%;   
}

.home{
    font-family: legoTheme;
    font-size: 30px;
    margin: 10px;
    text-decoration: none;
}


.projects{
    font-family: legoTheme;
    font-size: 30px;
    margin: 10px;
    text-decoration: none;
}
.about{
    font-family: legoTheme;
    font-size: 30px;
    margin: 10px;
    text-decoration: none;
    
}

.contact{
    font-family: legoTheme;
    font-size: 30px;
    margin: 10px;
    text-decoration: none;
}

.navbar {
    
  opacity: 0.85;
}

svg:hover,a:hover{
    border: 2px solid black;
}




