

@font-face {
    font-family: patrickHand;
    src: url("./fonts/PatrickHand-Regular.woff");
    font-weight: bold;
   
}

@font-face {
    font-family: rockSalt;
    src: url("./fonts/RockSalt-Regular.woff");
    font-weight: bold;
   
}

.header-llc{
    font-family: rockSalt;
    font-size: 50px; 
    text-decoration: none;
    color: darkblue !important;
  
}

.me-auto{
    position: absolute;
    right: 10%;   
}

.home{
    font-family: patrickHand;
    font-size: 30px;
    margin: 10px;
    text-decoration: none;
    color: darkblue;
}


.projects{
    font-family: patrickHand;
    font-size: 30px;
    margin: 10px;
    text-decoration: none;
    color: darkblue;
}
.about{
    font-family: patrickHand;
    font-size: 30px;
    margin: 10px;
    text-decoration: none;
    color: darkblue;
    
}

.contact{
    font-family: patrickHand;
    font-size: 30px;
    margin: 10px;
    text-decoration: none;
    color: darkblue;
}

.navbar {
    
  opacity: 0.85;
}

a:hover{
    border-bottom: 5px solid rgb(235, 238, 195);
    color: rgb(197, 227, 251);
}

.header-llc:hover{
    color: rgb(197, 227, 251) !important;
    border-bottom: 5px solid rgb(235, 238, 195);
}

.github{
    margin: 10px;
    font-size: 30px;
    color: darkblue;
}

.linkedin{
    margin: 10px;
    font-size: 30px;
    color: darkblue;
}
svg:hover{
    color: rgb(197, 227, 251);
}


