
@font-face {
    font-family: legoTheme;
    src: url("./legothick-webfont.woff"),url("./legothick-webfont.woff2");
    font-weight: bold;
   
}
.header-llc{
    font-family: legoTheme;
    font-size: 50px; 
  
}

.me-auto{
    position: absolute;
    right: 10%;   
}

.home{
    font-family: legoTheme;
    font-size: 30px;
    
}


.projects{
    font-family: legoTheme;
    font-size: 30px;
}
.about{
    font-family: legoTheme;
    font-size: 30px;
    
}

.contact{
    font-family: legoTheme;
    font-size: 30px;
}

.navbar {
    
  opacity: 0.85;
}

.navbar a:hover{
    background-color:  rgb(241, 237, 185);;
}



