
.row-container{
    max-width: 100%;
    padding-left: 15%;
    
}
.card{
    text-align: left;
    width: 25rem;
    height: 100%;
}
.card-row{
    margin-top:10%;
}

.card-text{
    padding: 10px;
}
.button-container{
   text-align: center;
   /* padding-top: 10px; */
}

.btn{
    margin-right: 5%;
  
}