

@font-face {
    font-family: patrickHand;
    src: url("./fonts/PatrickHand-Regular.woff");
    font-weight: bold;
   
}

@font-face {
    font-family: rockSalt;
    src: url("./fonts/RockSalt-Regular.woff");
    font-weight: bold;
   
}

.row-container{
    max-width: 100%;
    padding-left: 15%;
    
}
.card{
    text-align: left;
    width: 25rem;
    height: 100%;
    /* border-radius: 35%; */
}
.card-row{
    margin-top:7%;
}

.card-text{
    padding: 10px;
}
.button-container{
   text-align: center;
   /* padding-top: 10px; */
}

.btn{
    margin-right: 5%;
  
}

.projects-title{
    padding-top: 10%;
    text-align: center;
    font-family: patrickHand;
    font-size: 50px;
    text-decoration: none;
    color: white;
    position: relative;
    z-index: 1;
    -webkit-text-stroke: 0.8px black;
}